<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>all account</h1>

    <form method="POST" action="/admin/home/add">
        Username: <input name="username" type="text"><br><br>
        Password: <input name="password" type="text"><br><br>
        Role: <input name="role" type="radio" value="admin">
              <label for="admin">Administrator</label>
              <input name="role" type="radio" value="staff">
              <label for="staff">Staff</label>
              <input name="role" type="radio" value="trainer">
              <label for="trainer">Trainer</label>

        <br><br>
        <button type="submit">ok</button>
    </form>
    <br><br>
    
    <form method="POST" action="/admin/home/search" id='{{user_id}}'>
        <input placeholder="Search for account" name="key">
        <button type="submit">Submit</button>
    </form>

    {{#each result}}
    <div>
        <p>{{username}}</p>
        <p>{{password}}</p>
        <p>{{role}}</p>
        <a href="/admin/home/delete/{{user_id}}">delete</a>
        <button onclick="getAcc({{user_id}},'{{username}}', '{{password}}', '{{role}}')">Edit</button>

        <form method="POST" action="/admin/home/edit/{{user_id}}" id='{{user_id}}'
            style="opacity: 0; width: 200; height:300">
            <input value="{{username}}" name="username">
            <input value="{{password}}" name="password">
            <input value="{{role}}" name="role">
            <button type="submit">Submit</button>
        </form>
    </div>
    {{/each}}
    <script>
        function getAcc(id) {
            console.log('ok')
            console.log(id)
            document.getElementById(id).style.opacity = 1
        }
    </script>

</body>

</html>