<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Trainer account management</h1>
    <br><br>

    {{#each result}}
    <div>
        <p>ID: {{user_id}}</p>
        <p>Username: {{username}}</p>
        <p>{{name}}</p>
        <p>{{age}}</p>
        <p>{{type}}</p>
        <p>{{workingPlace}}</p>
        <p>{{phone}}</p>
        <p>{{email}}</p>
        {{!-- <a href="/staff/account/trainer/delete{{user_id}}">delete</a> <br><br> --}}
        <button onclick="show({{user_id}})">Edit</button>

        <form method="POST" action="/staff/account/trainer/edit/{{user_id}}" id='{{user_id}}'
            style="opacity: 0; width: 200; height:300">
            <input value="{{name}}" name="name">
            <input value="{{age}}" name="age">
            <input value="{{type}}" name="type">
            <input value="{{workingPlace}}" name="workingPlace">
            <input value="{{phone}}" name="phone">
            <input value="{{email}}" name="email">

            <button type="submit">Submit</button>
        </form>
    </div>
    <br><br>
    {{/each}}

    <script>
        function show(id) {
            document.getElementById(id).style.opacity = 1
        }
    </script>
</body>
</html>