<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/shared/navbar.css">
    <link rel="stylesheet" href="/styles/staff/trainee.css">
    <script src="https://kit.fontawesome.com/f6833f0619.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&amp;display=swap">

    <title>Trainee management page</title>
</head>

{{!-- <body>
    <h1>Trainee account management</h1>
    <br><br>
    <form method="POST" action="/staff/account/trainee/add">
        <input type="text" name="username">
        <input type="text" name="password">
        <input type="date" name="dob">
        <input type="text" name="mainPL">
        <input type="text" name="expDetail">
        <input type="text" name="name">
        <input type="text" name="age">
        <input type="text" name="education">
        <input type="text" name="toeic">
        <input type="text" name="location">
        <select id="course_id" name='course_id'>
            <option value="" disabled selected hidden>Choose course...</option>
            {{#each type}}
            <optgroup label="{{name}}">
                {{#each this.description}}
                <option value="{{course_id}}">{{courseName}}</option>
                {{/each}}
            </optgroup>
            {{/each}}

        </select>
        <button type="submit">Add</button>
    </form>
    <br><br>

    <form method="POST" action="/staff/account/trainee/search">
        <input type="text" name="key">
        <button type="submit">Search</button>
    </form>

    <br><br>
    {{#each result}}
    <div>
        <p>{{username}}</p>
        <p>{{password}}</p>
        <p>{{dob}}</p>
        <p>{{mainPL}}</p>
        <p>{{expDetail}}</p>
        <p>{{name}}</p>
        <p>{{age}}</p>
        <p>{{education}}</p>
        <p>{{toeic}}</p>
        <p>{{location}}</p>
        <p>Course: {{courseName}}</p>
    </div>

    <button onclick="show({{trainee_id}})">Edit</button> <br><br>
    <a href="/staff/account/trainee/delete/{{trainee_id}}">Delete</a>


    <form method="POST" action="/staff/account/trainee/edit/{{trainee_id}}" id='{{trainee_id}}'
        style="opacity: 0; width: 200; height:300">
        <input value="{{username}}" name="username">
        <input value="{{password}}" name="password">
        <input value="{{dob}}" type="date" name="dob">
        <input value="{{mainPL}}" name="mainPL">
        <input value="{{expDetail}}" name="expDetail">
        <input value="{{name}}" name="name">
        <input value="{{age}}" name="age">
        <input value="{{education}}" name="education">
        <input value="{{toeic}}" name="toeic">
        <input value="{{location}}" name="location">
        <select id="course_id" name='course_id'>
            <optgroup label="Current course">
                <option value="{{course_id}}" selected>{{courseName}}</option>
            </optgroup>
            {{#each ../type}}
            <optgroup label="{{name}}">
                {{#each this.description}}
                <option value="{{course_id}}">{{courseName}}</option>
                {{/each}}
            </optgroup>
            {{/each}}
        </select>

        <button type="submit">Submit</button>
    </form>
    <br><br>

    {{/each}}
    <script>
        function show(id) {
            console.log('ok')
            console.log(id)
            document.getElementById(id).style.opacity = 1
        }

    </script>
</body> --}}

<body>
    {{> menuPartial parameter=active}}

    <div id="rightView">
        <div id="blurBackground"></div>
        <img id="workspace-img" src="https://gjkhai.github.io/khai/JS7/Images/office-table.jpg">
        <h1>Trainee Management</h1>

        <div id="addBtn"><i class="fas fa-user-plus" id="addIcon"></i></div>
        <div id="container">
            {{#each result}}
            <form autocomplete="off" method="POST" action="/staff/account/trainee/edit/{{trainee_id}}" id='{{trainee_id}}'
                style="width: 200; height:300">
                <div id="formContent">
                    <div id="form-left">
                        <b>
                            <p>Name: <input class="input{{@index}}" value="{{name}}" name="name"></p>
                        </b>
                        <b>
                            <p>Age: <input class="input{{@index}}" value="{{age}}" name="age"></p>
                        </b>
                        <b>
                            <p>Username: <input class="input{{@index}}" value="{{username}}" name="username"></p>
                        </b>
                        <b>
                            <p>Password: <input class="input{{@index}}" value="{{password}}" name="password"></p>
                        </b>
                        <b>
                            <p>Education: <input class="input{{@index}}" value="{{education}}" name="education"></p>
                        </b>
                        <b>
                            <p>Location: <input class="input{{@index}}" value="{{location}}" name="location"></p>
                        </b>

                    </div>

                    <div id="form-right">
                        <span>
                            <p><b>Main programming language: </b></p><input class="input{{@index}}" value="{{mainPL}}"
                                name="mainPL">
                        </span>

                        <span>
                            <p><b>TOEIC Score: </b></p><input class="input{{@index}}" value="{{toeic}}" name="toeic">
                        </span>
                        <span>
                            <p><b>Date of birth: </b></p><input id="dateInput" class="input{{@index}}" value="{{dob}}" type="date"
                                name="dob">
                        </span>

                        <span>
                            <p><b>Class: </b></p><select class="input{{@index}}" id="course_id" name='course_id'>
                                <optgroup label="Current course">
                                    <option value="{{course_id}}" selected>{{courseName}}</option>
                                </optgroup>
                                {{#each ../type}}
                                <optgroup label="{{name}}">
                                    {{#each this.description}}
                                    <option value="{{course_id}}">{{courseName}}</option>
                                    {{/each}}
                                </optgroup>
                                {{/each}}
                            </select>

                        </span>

                        <span>
                            <p><b>Experience detail: </b></p><textarea class="input{{@index}}"
                                name="expDetail">{{expDetail}}</textarea>
                        </span>
                    </div>
                </div>

                <div id="formBtn">

                    <div class="btn cancelBtn" id="cancelBtn{{@index}}" onclick="reset('{{trainee_id}}')"><i
                            class="fas fa-undo-alt" id="iconBack{{@index}}"></i>
                        <p>Cancel</p>
                    </div>
                    <button disabled="true" id="submitBtn{{@index}}" class="btn submitBtn"
                        type="submit">Confirm</button>
                    <div class="btn deleteBtn" id="deleteBtn">
                        <p>Delete</p>
                    </div>
                </div>

                <div id="line"></div>
            </form>
            {{/each}}
        </div>
    </div>

    <script>
        const total = document.getElementsByTagName("form")
        for (var a = 0; a < total.length; a++) {
            const submitBtn = document.getElementById("submitBtn" + a)
            const cancelBtn = document.getElementById("cancelBtn" + a)
            const icon = document.getElementById("iconBack" + a)

            const input = document.getElementsByClassName("input" + a)
            for (var i = 0; i < input.length; i++) {
                input[i].addEventListener("change", function () {

                    cancelBtn.disabled = false
                    cancelBtn.style.cursor = "pointer"
                    cancelBtn.style.opacity = "1"
                    cancelBtn.style.zIndex = 2

                    submitBtn.disabled = false
                    submitBtn.style.cursor = "pointer"
                    submitBtn.style.backgroundColor = "rgb(115, 70, 160)"

                    submitBtn.addEventListener("mouseover", () => {
                        submitBtn.style.transform = "scale(1.1)"
                    })

                    submitBtn.addEventListener("mouseleave", () => {
                        submitBtn.style.transform = "scale(1)"
                    })

                    cancelBtn.addEventListener("click", () => {
                        submitBtn.disabled = true
                        submitBtn.style.cursor = "not-allowed"
                        submitBtn.style.backgroundColor = "rgb(178, 153, 206)"

                        cancelBtn.disabled = true
                        cancelBtn.style.cursor = "not-allowed"
                        cancelBtn.style.opacity = "0"
                        cancelBtn.style.zIndex = -2
                    })

                    cancelBtn.addEventListener("mouseover", function () {
                        icon.style.transform = "rotate(-120deg)"
                    })

                    cancelBtn.addEventListener("mouseleave", function () {
                        icon.style.transform = "rotate(120deg)"
                    })
                });
            }
        }


        function reset(id) {
            document.getElementById(id).reset()
        }
    </script>

</body>


</html>