<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/shared/navbar.css">
    <link rel="stylesheet" href="/styles/staff/category.css">
    <link rel="icon" href="https://cms.greenwich.edu.vn/pluginfile.php/1/theme_adaptable/favicon/1596790129/favicon.ico"
        type="image/gif" sizes="16x16">
    <script src="https://kit.fontawesome.com/f6833f0619.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&amp;display=swap">

    <title>FPT Training Portal - Course Categories</title>
</head>

<body>
    {{> menuPartial parameter=active}}

    <div id="rightView">
<<<<<<< HEAD
        {{!-- Confirm delete form --}}
        {{#each result}}
        <form id="confirmDelForm{{category_id}}">
            <div id="confirmDeleteForm{{category_id}}" class="confirmDeleteForm">
                <b>Are you sure to delete this category?</b>
=======
    
        {{#each result}}
        <form id="confirmDelForm{{category_id}}">
            <div id="confirmDeleteForm{{category_id}}" class="confirmDeleteForm">
                <b>Are you sure to delete this course category?</b>
>>>>>>> 2eaeec28397b6d5f3da3bc20a47c2230de68efef
                <div id="confirmDeleteBtnContainer">
                    <div class="btn"
                        onclick='resetDeleteForm("confirmDelForm{{category_id}}", "confirmDeleteForm{{category_id}}")'
                        id="cancelBtnDeleteForm">
                        <p>Cancel</p>
                    </div>
                    <a href="/staff/category/delete/{{category_id}}" class="btn deleteBtn" id="deleteBtn">
                        <div>
                            <p>Delete</p>
                        </div>
                    </a>
                </div>
            </div>
        </form>
        {{/each}}
<<<<<<< HEAD
        {{!-- End of confirm delete form --}}
=======
        
>>>>>>> 2eaeec28397b6d5f3da3bc20a47c2230de68efef
        <div id="blurBackground"></div>
        <img id="workspace-img" src="https://gjkhai.github.io/khai/JS7/Images/office-table.jpg">
        <h1>Course categories</h1>

        <div id="addBtn" onclick='showAddForm()'><i class="fas fa-plus-circle" id="addIcon"></i></div>

        <div id="addFormContainer">
            <form autocomplete="off" method="POST" action="/staff/category/add" id='addForm'
                style="width: 200; height:300">
                <h2 id="addTitle">Create new category</h2>

                <div id="addFormContent">
                    <div id="form-left">
                        <b>
                            <p>Category name: <input class="input{{@index}}" value="{{name}}" name="name"></p>
                        </b>
                        <b>
                            <p>Description: <textarea class="input{{@index}}" name="description"
                                    placeholder="Category description..."></textarea></p>
                        </b>
                    </div>

                    <div id="form-right">
                        <button class="btn submitBtnAddForm" type="submit">Create</button>
                        <div class="btn cancelBtnAddForm" id="deleteBtn" onclick="resetAddForm()">
                            <p>Cancel</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div id="container">
            <div id="searchContainer">
                <form id="searchForm" autocomplete="off" method="POST" action="/staff/category/search">
                    <i id="searchIcon" class="fas fa-search"></i>
                    <input id="searchInput" name="key" value={{key}}>
                    <i onclick="resetSearchForm()" id="resetSearchIcon" class="fas fa-times-circle"></i>
                </form>
            </div>

            <div id="contentContainer">
                {{#each result}}
                <form autocomplete="off" method="POST" action="/staff/category/edit/{{category_id}}"
                    id='{{category_id}}' style="width: 200; height:300">
                    <div id="formContent">
                        <div id="leftFormContent">
                            <b>
                                <p>Name: <input placeholder="Username: {{username}}" class="input{{@index}}"
                                        value="{{name}}" name="name"></p>
                            </b>
                            <b>
                                <p>Description: <textarea class="input{{@index}}"
                                        name="description">{{description}}</textarea>
                                </p>
                            </b>
                        </div>
                        <div onclick="redirect('{{category_id}}')" id="rightFormContent">
                            <p>Go to courses</p>
                            <i class="fas fa-sign-in-alt"></i>
                        </div>
                    </div>

                    <div id="formBtn">
                        <div class="btn cancelBtn" id="cancelBtn{{@index}}" onclick="reset('{{category_id}}')"><i
                                class="fas fa-undo-alt" id="iconBack{{@index}}"></i>
                            <p>Cancel</p>
                        </div>
                        <button disabled="true" id="submitBtn{{@index}}" class="btn submitBtn"
                            type="submit">Confirm</button>
                        <a onclick="showConfirmDeleteForm('confirmDeleteForm{{category_id}}')" class="btn deleteBtn" id="deleteBtn">
                            <div>
                                <p>Delete</p>
                            </div>
                        </a>
                    </div>

                    <div id="line"></div>
                </form>
                {{/each}}
            </div>
        </div>
    </div>


    {{!-- <form method="POST" action="/staff/category/add">
            <input type="text" name="name">
            <input type="text" name="description">
            <button type="submit">Add</button>
        </form>
        <br><br>

        <form method="POST" action="/staff/category/search">
            <input type="text" name="key">
            <button type="submit">Search</button>
        </form>

        {{#each result}}
        <div>
            <p>{{name}}</p>
            <p>{{description}}</p>
            <a href="/staff/category/redirect/{{category_id}}">Go to courses of {{name}}</a>
            <br><br>
            <button onclick="show({{category_id}})">Edit</button>

            <form method="POST" action="/staff/category/edit/{{category_id}}" id='{{category_id}}'
                style="opacity: 0; width: 200; height:300">
                <input value="{{name}}" name="name">
                <input value="{{description}}" name="description">
                <button type="submit">Confirm</button>
            </form>

            <a href="/staff/category/delete/{{category_id}}">Delete</a>

        </div>
        <br><br>
        {{/each}} --}}

    <script>
        function showConfirmDeleteForm(id) {
            document.getElementById('blurBackground').style.zIndex = 5
            document.getElementById('blurBackground').style.opacity = 1
            document.getElementById(id).style.zIndex = 6
            document.getElementById(id).style.opacity = 1
        }
        function resetDeleteForm(form, div) {
            document.getElementById(div).style.opacity = 0
            document.getElementById(div).style.zIndex = -3
            document.getElementById('blurBackground').style.opacity = 0
            document.getElementById('blurBackground').style.zIndex = -3
            document.getElementById(form).reset()
        }
        const total = document.getElementsByTagName("form")
        const form = document.getElementById('addForm')
        const addFormContainer = document.getElementById('addFormContainer')
        const searchForm = document.getElementById("searchForm")
        const resetSearchIcon = document.getElementById("resetSearchIcon")

        const searchValue = document.getElementById("searchInput").value
        if(searchValue.length > 0) {
            resetSearchIcon.style.zIndex = 1
            resetSearchIcon.style.opacity = 1
        } else {
            resetSearchIcon.style.opacity = 0
            resetSearchIcon.style.zIndex = -1
        }

        searchForm.addEventListener("focusin", function () {
            document.getElementById("resetSearchIcon").style.zIndex = 1
            document.getElementById("resetSearchIcon").style.opacity = 1
        })

        searchForm.addEventListener("focusout", function () {
            document.getElementById("resetSearchIcon").style.opacity = 0
            document.getElementById("resetSearchIcon").style.zIndex = -1

        })

        for (var a = 0; a < total.length - 1; a++) {
            const submitBtn = document.getElementById("submitBtn" + a)
            const cancelBtn = document.getElementById("cancelBtn" + a)
            const icon = document.getElementById("iconBack" + a)

            const input = document.getElementsByClassName("input" + a)
            for (var i = 0; i < input.length; i++) {
                input[i].addEventListener("change", function () {

                    cancelBtn.disabled = false
                    cancelBtn.style.cursor = "pointer"
                    cancelBtn.style.opacity = "1"
                    cancelBtn.style.zIndex = 2

                    submitBtn.disabled = false
                    submitBtn.style.cursor = "pointer"
                    submitBtn.style.backgroundColor = "rgb(115, 70, 160)"

                    submitBtn.addEventListener("mouseover", () => {
                        submitBtn.style.transform = "scale(1.1)"
                    })

                    submitBtn.addEventListener("mouseleave", () => {
                        submitBtn.style.transform = "scale(1)"
                    })

                    cancelBtn.addEventListener("click", () => {
                        submitBtn.disabled = true
                        submitBtn.style.cursor = "not-allowed"
                        submitBtn.style.backgroundColor = "rgb(178, 153, 206)"

                        cancelBtn.disabled = true
                        cancelBtn.style.cursor = "not-allowed"
                        cancelBtn.style.opacity = "0"
                        cancelBtn.style.zIndex = -2
                    })

                    cancelBtn.addEventListener("mouseover", function () {
                        icon.style.transform = "rotate(-120deg)"
                    })

                    cancelBtn.addEventListener("mouseleave", function () {
                        icon.style.transform = "rotate(120deg)"
                    })
                });
            }
        }

        function showAddForm() {
            addFormContainer.style.zIndex = 5
            form.style.zIndex = 5
            addFormContainer.style.opacity = 1
            form.style.opacity = 1
        }
        function resetAddForm() {
            form.style.opacity = 0
            addFormContainer.style.opacity = 0
            form.style.zIndex = -6
            addFormContainer.style.zIndex = -6
            document.getElementById('addForm').reset()
        }

        function reset(id) {
            document.getElementById(id).reset()
        }

        function redirect(id) {
            window.location.href = `/staff/category/redirect/${id}`
        }

        document.getElementById("searchInput").addEventListener("focus", () => {
            document.getElementById("searchIcon").style.color = "rebeccapurple"
        })

        document.getElementById("searchInput").addEventListener("focusout", () => {
            document.getElementById("searchIcon").style.color = "rgb(160, 152, 168)"
        })

        function resetSearchForm() {
            document.getElementById("searchForm").reset()
            window.location.href = "/staff/category"
        }
        
        function resetDeleteForm(form, div) {
            document.getElementById(div).style.opacity = 0
            document.getElementById(div).style.zIndex = -3
            document.getElementById('blurBackground').style.opacity = 0
            document.getElementById('blurBackground').style.zIndex = -3
            document.getElementById(form).reset()
        }

        function showConfirmDeleteForm(id) {
            document.getElementById('blurBackground').style.zIndex = 5
            document.getElementById('blurBackground').style.opacity = 1
            document.getElementById(id).style.zIndex = 6
            document.getElementById(id).style.opacity = 1
        }

    </script>

</body>

</html>
