<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Course</h1>

    <form method="POST" action="/staff/category/course/add" style="width: 200; height:300">
        <input type="hidden" name="category_id" value="{{category}}">
        <input type="text" name="courseName">
        <input type="text" name="description">
        <select id="tutor" name='tutor'>
            <option value="" disabled selected hidden>Choose Tutor...</option>
            {{#each tutor}}
            <option value="{{tutor_id}}">{{name}}</option>
            {{/each}}
        </select>
        <button type="submit">Add course</button>
    </form>

    <br><br>

    {{#each result}}
    <div>
        <p>{{courseName}}</p>
        <p>Tutor: {{name}} </p>
        <p>{{description}}</p>
        <a href="/staff/category/course/redirect/{{course_id}}">Go to topic of {{courseName}}</a><br>
        <br>
        <button onclick="show({{course_id}})">Edit</button>
        <a href="/staff/category/course/delete/{{course_id}}">Delete</a>
        <br><br>

        <form method="POST" action="/staff/category/course/edit/{{course_id}}" id='{{course_id}}'
            style="opacity: 0; width: 200; height:300">
            <input type="hidden" name="category_id" value="{{../category}}">
            <input value="{{courseName}}" name="courseName">

            <select id="tutor" name='tutor'>
                <optgroup label="Current tutor">
                    <option selected value="{{tutor_id}}">{{name}}</option>
                </optgroup>

                <optgroup label="All tutor">
                    {{#each ../tutor}}
                    <option value="{{tutor_id}}">{{name}}</option>
                    {{/each}}
                </optgroup>
            </select>

            <input value="{{description}}" name="description">

            <button type="submit">Submit</button>
        </form>
    </div>
    {{/each}}

    <script>
        function show(id) {
            console.log('ok')
            console.log(id)
            document.getElementById(id).style.opacity = 1
        }

    </script>
</body>

</html>