<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/shared/navbar.css">
    <link rel="stylesheet" href="/styles/staff/trainer.css">
    <link rel="icon" href="https://cms.greenwich.edu.vn/pluginfile.php/1/theme_adaptable/favicon/1596790129/favicon.ico" type="image/gif" sizes="16x16">
    <script src="https://kit.fontawesome.com/f6833f0619.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&amp;display=swap">

    <title>FPT Training Portal - Trainers Management</title>
</head>
{{!-- <body>
    <h1>Trainer account management</h1>
    <br><br>

    {{#each result}}
    <div>
        <p>ID: {{user_id}}</p>
        <p>Username: {{username}}</p>
        <p>{{name}}</p>
        <p>{{age}}</p>
        <p>{{type}}</p>
        <p>{{workingPlace}}</p>
        <p>{{phone}}</p>
        <p>{{email}}</p>
        <button onclick="show({{user_id}})">Edit</button>

        <form method="POST" action="/staff/account/trainer/edit/{{user_id}}" id='{{user_id}}'
            style="opacity: 0; width: 200; height:300">
            <input value="{{name}}" name="name">
            <input value="{{age}}" name="age">
            <input value="{{type}}" name="type">
            <input value="{{workingPlace}}" name="workingPlace">
            <input value="{{phone}}" name="phone">
            <input value="{{email}}" name="email">

            <button type="submit">Submit</button>
        </form>
    </div>
    <br><br>
    {{/each}}

    <script>
        function show(id) {
            document.getElementById(id).style.opacity = 1
        }
    </script>
</body> --}}


<body>
    {{> menuPartial parameter=active}}

    <div id="rightView">
    
        {{#each result}}
        <form id="confirmDelForm{{user_id}}">
            <div id="confirmDeleteForm{{user_id}}" class="confirmDeleteForm">
                <b>Are you sure to delete this trainer infomation?</b>
                <div id="confirmDeleteBtnContainer">
                    <div class="btn"
                        onclick='resetDeleteForm("confirmDelForm{{user_id}}", "confirmDeleteForm{{user_id}}")'
                        id="cancelBtnDeleteForm">
                        <p>Cancel</p>
                    </div>
                    <a href="/staff/account/trainer/delete{{user_id}}" class="btn deleteBtn" id="deleteBtn">
                        <div>
                            <p>Delete</p>
                        </div>
                    </a>
                </div>
            </div>
        </form>
        {{/each}}
        
        <div id="blurBackground"></div>
        <img id="workspace-img" src="https://gjkhai.github.io/khai/JS7/Images/office-table.jpg">
        <h1>Trainer Management</h1>

        <div id="container">

            <div id="searchContainer">
                <form autocomplete="off" method="POST" action="/staff/account/trainer/search">
                    <i id="searchIcon" class="fas fa-search"></i>
                    <input id="searchInput" name="key" value={{key}}>
                    <i onclick="resetSearchForm()" id="resetSearchIcon" class="fas fa-times-circle"></i>
                </form>
            </div>

            <div id="contentContainer">
                {{#each result}}
                <form autocomplete="off" method="POST" action="/staff/account/trainer/edit/{{user_id}}"
                    id='{{user_id}}' style="width: 200; height:300">
                    <div id="formContent">
                        <div id="form-left">
                            <b>
                                <p>Name: <input placeholder="Username: {{username}}" class="input{{@index}}" value="{{name}}" name="name"></p>
                            </b>
                            <b>
                                <p>Age: <input class="input{{@index}}" value="{{age}}" name="age"></p>
                            </b>
                            <b>
                                <p>Type: <input class="input{{@index}}" value="{{type}}" name="type"></p>
                            </b>

                        </div>

                        <div id="form-right">
                            <span>
                                <p><b>Working place: </b></p><input class="input{{@index}}"
                                    value="{{workingPlace}}" name="workingPlace">
                            </span>

                            <span>
                                <p><b>Phone: </b></p><input class="input{{@index}}" value="{{phone}}"
                                    name="phone">
                            </span>

                            <span>
                                <p><b>Email: </b></p><input value="{{email}}" class="input{{@index}}"
                                    name="email">
                            </span>
                        </div>
                    </div>

                    <div id="formBtn">

                        <div class="btn cancelBtn" id="cancelBtn{{@index}}" onclick="reset('{{user_id}}')"><i
                                class="fas fa-undo-alt" id="iconBack{{@index}}"></i>
                            <p>Cancel</p>
                        </div>
                        <button disabled="true" id="submitBtn{{@index}}" class="btn submitBtn"
                            type="submit">Confirm</button>
                        <a onclick="showConfirmDeleteForm('confirmDeleteForm{{user_id}}')" class="btn deleteBtn" id="deleteBtn"><div>
                            <p>Delete info</p>
                        </div></a>
                    </div>

                    <div id="line"></div>
                </form>
                {{/each}}
            </div>
        </div>
    </div>

    <script>
        const total = document.getElementsByTagName("form")
        for (var a = 0; a < total.length; a++) {
            const submitBtn = document.getElementById("submitBtn" + a)
            const cancelBtn = document.getElementById("cancelBtn" + a)
            const icon = document.getElementById("iconBack" + a)

            const input = document.getElementsByClassName("input" + a)
            for (var i = 0; i < input.length; i++) {
                input[i].addEventListener("change", function () {

                    cancelBtn.disabled = false
                    cancelBtn.style.cursor = "pointer"
                    cancelBtn.style.opacity = "1"
                    cancelBtn.style.zIndex = 2

                    submitBtn.disabled = false
                    submitBtn.style.cursor = "pointer"
                    submitBtn.style.backgroundColor = "rgb(115, 70, 160)"

                    submitBtn.addEventListener("mouseover", () => {
                        submitBtn.style.transform = "scale(1.1)"
                    })

                    submitBtn.addEventListener("mouseleave", () => {
                        submitBtn.style.transform = "scale(1)"
                    })

                    cancelBtn.addEventListener("click", () => {
                        submitBtn.disabled = true
                        submitBtn.style.cursor = "not-allowed"
                        submitBtn.style.backgroundColor = "rgb(178, 153, 206)"

                        cancelBtn.disabled = true
                        cancelBtn.style.cursor = "not-allowed"
                        cancelBtn.style.opacity = "0"
                        cancelBtn.style.zIndex = -2
                    })

                    cancelBtn.addEventListener("mouseover", function () {
                        icon.style.transform = "rotate(-120deg)"
                    })

                    cancelBtn.addEventListener("mouseleave", function () {
                        icon.style.transform = "rotate(120deg)"
                    })
                });
            }
        }


        function reset(id) {
            document.getElementById(id).reset()
        }
    </script>
    <script>
        const resetSearchIcon = document.getElementById("resetSearchIcon")
        const searchForm = document.getElementById("searchForm")

        document.getElementById("searchInput").addEventListener("focus", () => {
            document.getElementById("searchIcon").style.color = "rebeccapurple"
            resetSearchIcon.style.zIndex = 1
            resetSearchIcon.style.opacity = 1
        })

        document.getElementById("searchInput").addEventListener("focusout", () => {
            document.getElementById("searchIcon").style.color = "rgb(160, 152, 168)"
            resetSearchIcon.style.opacity = 0
            resetSearchIcon.style.zIndex = -1
        })
        function resetSearchForm() {
            document.getElementById("searchForm").reset()
            window.location.href = "/staff/account/trainer"
        }
        
        function resetDeleteForm(form, div) {
            document.getElementById(div).style.opacity = 0
            document.getElementById(div).style.zIndex = -3
            document.getElementById('blurBackground').style.opacity = 0
            document.getElementById('blurBackground').style.zIndex = -3
            document.getElementById(form).reset()
        }

        function showConfirmDeleteForm(id) {
            document.getElementById('blurBackground').style.zIndex = 5
            document.getElementById('blurBackground').style.opacity = 1
            document.getElementById(id).style.zIndex = 6
            document.getElementById(id).style.opacity = 1
        }
        
    </script>

</body>

</html>
